body {
    font-family: 'Open Sans Regular';
    margin-top: 5%;
}

.back {
    margin: 0% 0% 0% 5%;
    font-size: 13px;
    color: #0053A5;
}

* {
    box-sizing: border-box;
}

.form-inline {
    padding: 2% 20% 5% 5%;
    display: list-item;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin: inherit;
    font-size: 15px;
}

.form-data-title {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
    text-align: center;
    margin: 0% 0% 3% 0%;
}

.datauser {
    width: 90%;
    vertical-align: middle;
    background-color: #fff;
    border: none;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    flex-direction: column;
}

.form-data-imput {
    border-bottom: 2px solid #ddd;
    margin: 5%;
}

.button {
    background-color: #0053A5;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 10px;
    min-width: 100%
}

.success-register {
    visibility: hidden;
    display: -moz-grid-line;
    color: green;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

.msm-error-register {
    visibility: hidden;
    display: -moz-grid-line;
    color: #AF1C10;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    font-size: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
    float: left;
    margin-right: 5%;
    margin-left: 10%;
    margin-bottom: 5%;
}

.lbl-checkbox {
    font-size: 10px;
}


/* etiquetas ocultas mientras no sean llenados los datos */

.lbl-data {
    opacity: 0;
}