body {
    font-family: 'Open Sans Regular';
    margin-top: 20%;
}

.back {
    padding: 2% 20% 20% 5%;
    margin: 0% 0% 0% 5%;
    font-size: 13px;
    color: #0053A5;
}

* {
    box-sizing: border-box;
}

.frm-verify {
    padding: 2% 20% 5% 5%;
    flex-flow: wrap;
    align-items: center;
    justify-content: center;
    margin: inherit;
    font-size: 15px;
}

.container-tittle {
    display: -moz-grid-line;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.lbl-phone {
    display: flex;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    color: red;
}

.container-code {
    align-content: center;
    display: flex;
    padding: 10% 0% 0% 10%;
}

.data-code-validation {
    min-width: 70%;
    background-color: #fff;
    font-size: 20px;
    width: 5%;
    height: 40px;
    max-width: 8%;
    text-align: center;
    margin-right: 3%;
    border-radius: 10px;
    border: 1px solid #B7B2B1;
    box-shadow: 0.5px 0.5px 0.5px #000000, 0px 0px 0.1px #0d0d0d;
}

.code-error {
    visibility: hidden;
    display: -moz-grid-line;
    color: #AF1C10;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    font-size: 20px;
}

.container-next {
    align-content: center;
    display: flex;
}

.button {
    background-color: #0053A5;
    border: none;
    color: white;
    padding: 10px 30px;
    text-align: center;
    font-size: 20px;
    margin: 10% 10% 10% 10%;
    cursor: pointer;
    border-radius: 15px;
    min-width: 85%
}