body {
    font-family: 'Open Sans', sans-serif;
}

.custom-main-content {
    display: flex;
    align-items: center;
    height: 97vh;
    width: 100%;
    /*background-image: url('../images/body-bg.jpg');*/
    background-color: #fbfbf9;
}

.custom-content-page {
    display: flex;
    height: 60vh;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
    padding: 20px 15px;
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-content-page .custom-content-sms {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 80%;
}

.custom-error {
    width: 100%;
    border: 1px solid #fcc2c3;
    border-radius: 10px;
    float: left;
    padding: 2px 2px;
    color: #cc0033;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    padding-left: 10px;
    text-shadow: 1px 1px rgba(250, 250, 250, .3);
}

.custom-error:focus {
    outline: none !important;
    border: 1px solid #fcc2c3;
    text-shadow: 1px 1px rgba(250, 250, 250, .3);
}

.content-form-input {
    width: 100%;
    margin-bottom: 30px;
}

.custom-text-form {
    width: 100%;
    border: solid 1px #ccc;
    border-radius: 10px;
    float: left;
    padding: 2px 2px;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    padding-left: 10px;
    text-shadow: 1px 1px rgba(250, 250, 250, .3);
}

.custom-text-form:focus {
    outline: none !important;
    border: solid 1px #ccc;
    text-shadow: 1px 1px rgba(250, 250, 250, .3);
}

.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}

.custom-button {
    width: 100%;
    background-color: #0b5898;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 15px;
}

.custom-span-form {
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.custom-span-term {
    font-size: 14px;
}

.custom-content-term {
    width: 100%;
}

.custom-check-form {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    background: white;
}

.custom-loading-text {
    position: fixed;
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(18, 23, 18, 0.90);
    overflow-x: auto;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

@media (max-width: 575.98px) {
    .custom-content-page {
        width: 320px;
    }
    .custom-content-page .custom-content-sms {
        width: 90%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .custom-content-page {
        width: 400px;
    }
    .custom-content-page .custom-content-sms {
        width: 80%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    .custom-content-page .custom-content-sms {
        width: 80%;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .custom-content-page .custom-content-sms {
        width: 80%;
    }
}

@media (min-width: 1200px) {}