body {
    font-family: 'Open Sans', sans-serif;
}

.custom-main-content {
    display: flex;
    align-items: center;
    height: 97vh;
    width: 100%;
    /*background-image: url('../images/body-bg.jpg');*/
    background-color: #fbfbf9;
}

.custom-content-button {
    width: 60%;
}

.custom-content-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 60vh;
    width: 500px;
    max-width: 800px;
    margin: 0 auto;
    margin-top: 5px;
    padding: 20px 15px;
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-content-form .custom-button-index {
    background-color: #0b5898;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
}

.content-button {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-content-form .custom-button-index .custom-icon-button {
    padding-right: 10px;
}

@media (min-width: 0px) and (max-width: 576px) {
    .custom-content-form {
        width: 320px;
    }
    .custom-content-form .custom-button-index {
        width: 100%;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .custom-content-form {
        width: 320px;
    }
    .custom-content-form .custom-button-index {
        width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}