body {
    font-family: 'Open Sans', sans-serif;
}

.custom-main-content {
    display: flex;
    align-items: center;
    height: 97vh;
    width: 100%;
    /*background-image: url('../images/body-bg.jpg');*/
    background-color: #fbfbf9;
}

.custom-content-page {
    display: flex;
    width: 450px;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 5px;
    padding: 20px 15px;
    background: #fff;
    border-radius: 6px;
    -moz-border-radius: 6px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.custom-button {
    width: 100%;
    background-color: #0b5898;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 10px;
    font-size: 16px;
    margin-bottom: 15px;
    opacity: 0.9;
}

.custom-button:hover {
    opacity: 1;
}

.input-container {
    display: flex;
    width: 100%;
}


/* Style the form icons */

.icon {
    display: flex !important;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    border-bottom: solid 1px #ccc;
    text-align: center;
    border-left: solid 1px #ccc;
    border-top: solid 1px #ccc;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* Style the input fields */

.input-field {
    width: 100%;
    border-left: solid 1px #ccc;
    border-bottom: solid 1px #ccc;
    border-right: solid 1px #ccc;
    border-top: solid 1px #ccc;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    float: left;
    padding: 2px 2px;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    padding-left: 10px;
    text-shadow: 1px 1px rgba(250, 250, 250, .3);
}

.input-field:focus {
    outline: none !important;
    border: solid 1px #ccc;
    text-shadow: 1px 1px rgba(250, 250, 250, .3);
}

.input-field-error {
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 1px solid #fcc2c3;
    float: left;
    padding: 2px 2px;
    font-size: 16px;
    line-height: 20px;
    height: 40px;
    padding-left: 10px;
    text-shadow: 1px 1px rgba(250, 250, 250, .3);
}

.input-field-error:focus {
    outline: none !important;
    border: 1px solid #fcc2c3;
    text-shadow: 1px 1px rgba(250, 250, 250, .3);
}

.success-register {
    visibility: hidden;
    display: -moz-grid-line;
    color: green;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    font-size: 15px;
}

.msm-error-register {
    visibility: hidden;
    display: -moz-grid-line;
    color: #AF1C10;
    flex-flow: wrap;
    text-align: center;
    justify-content: center;
    font-size: 10px;
}

.right {
    float: right;
}

.custom-input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.error-message {
    color: #cc0033;
    display: inline-block;
    font-size: 12px;
    line-height: 15px;
    margin: 5px 0 0;
}

.custom-span-form {
    font-size: 15px;
    width: 100%;
    margin-bottom: 15px;
}

.custom-loading-text {
    position: fixed;
    color: white;
    text-align: center;
    width: 100%;
    height: 100vh;
    background-color: rgba(18, 23, 18, 0.90);
    overflow-x: auto;
    z-index: 1000;
    display: none;
    align-items: center;
    justify-content: center;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.custom-content-index {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 60vh;
    justify-content: space-between;
}

.custom-span-term {
    font-size: 14px;
}

.custom-content-term {
    width: 100%;
}

.custom-check-form {
    content: "";
    margin-right: 10px;
    display: inline-block;
    vertical-align: text-top;
    width: 15px;
    height: 15px;
    background: white;
}

@media (max-width: 575.98px) {
    .custom-content-page {
        width: 320px;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    .custom-content-page {
        width: 400px;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {}

@media (min-width: 992px) and (max-width: 1199.98px) {}

@media (min-width: 1200px) {}